.form-label {
    text-align: center;
    margin-left: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
}
#flexSwitchCheckDefault {

}
.nav-link {
    margin-left: 20px;
    text-decoration: none;
}
.navbar {
    box-shadow: 1px 2px 5px 1px black;
}
#input1 {
    margin-left: 20px;
    border: 2px solid black;
    margin-top: 23px;
}
#about11 {
    margin-top: 30px;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     /* height: 1200px;  */
    /* background-color: rgb(250, 246, 246); */
}
#Btn1,#Btn2 {
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid grey;
}
#Btn3 {
    margin-top: 20px;
    margin-left: 440px;
    border: 1px solid grey;
}

h1,p,h2{
    text-align: center;
    margin-bottom: 20px;
}
b {
    color: red;
}
#brppm {
    margin-top: 22px;
}
h4 {
    font-size: 15px;
    margin-top: 10px;
}
.ntn11 {
    display: flex;
    justify-content: center;
}
/* For devices with a width of 1200px and above (desktops) */

/* For mobile devices (up to 767px) */
@media (max-width: 767px) {
    button {
        font-size: 14px;
        width: 270px; /* Make buttons take full width on small screens */
        display: block; /* Stack buttons vertically */
    }
    #Btn1,#Btn2{
        margin-left: 50px;
        margin-top: 10px;
    }
    #Btn3  {
        margin-left: 50px;
        margin-top: 10px;
    }
    .form-check {
        display: block;
    }
    .form-label {
        font-size: 20px;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .form-control {
        margin-top: 40px;
    }
    h4 {
        font-size: 13px;  
        margin-top: 5px;  
    }
}
